@charset "UTF-8";
/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Arial', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/images/homepage.jpg'); /* Correctly reference the background image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: black; /* Sets the text color to white for the homepage */
}


h1 {
    font-size: 3em; /* Adjust the font size as necessary */
    margin-bottom: 20px;
}

/* Cardboard Effect */
.cardboard {
    background-color: rgba(255, 255, 255, 0.8); /* Slightly transparent white */
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    max-width: 400px; /* Adjust as necessary */
    width: 100%;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

input {
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

p{
    color: black;
}

/* Button Styles */
button {
    padding: 10px 20px; /* Add padding for the button */
    background-color: #6555be; /* Green */
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin: 15px; /* Space between buttons */
    font-size: 1.2em; /* Font size for buttons */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

button:hover {
    background-color: #33333c; /* Darker green on hover */
}

/* Responsive Design */
@media (max-width: 768px) {
    .cardboard {
        width: 90%;
    }
}